
    body {
      margin: 0;
      padding: 0;
      font-family: Arial, sans-serif;
    }
    
    .navbar {
      width: 200px;
      background-color: #f2f2f2;
      height: 100vh;
      padding: 20px;
      box-sizing: border-box;
      float: left;
    }
    
    .navbar h3 {
      font-size: 18px;
      margin-bottom: 10px;
    }
    
    .navbar img {
      width: 150px;
      height: 100px;
      border-radius: 50%;
      margin-top: 30px;
      margin-bottom: 10px;
    }
    
    .navbar p {
      margin: 0;
      text-align: center;
    }
    
    .navbar .admin {
      color: #8b4513;
      margin-bottom: 20px;
      text-align: center;
    }
    
    .navbar ul {
      text-align: center;
      list-style-type: none;
      padding: 20px;
      margin: 10px;
    }
    
    .navbar ul li {
      margin-bottom: 10px;
      display: flex;
      align-items: center;
    }
    
    .navbar ul li a {
      text-decoration: none;
      color: #000;
      display: flex;
      align-items: center;
    }
    .navbar ul li a i{
      display: flex;
      align-items: center;
      justify-content: center;
      width: 24px;
      height: 24px;
      margin-right: 5px;
    }

    .navbar .logout-btn{
        background-color: #4CAF50;
        text-align: center;
        justify-content: center;
        margin-left: 30px;
        margin-top: 20px;
        display: flex;
    }
    .navbar .logout-btn i{
      margin-right: 8px;
      display: flex;
    }
    .content {
      margin-left: 200px;
      padding: 20px;
    }
    
    .icon {
      float: right;
      margin-right: 20px;
      display: flex;
    }
    .bell-icon{
      margin-right: 30px;
    }
    .user-icon {
      margin-right: 10px;
    }
    
    .user-icon span {
      vertical-align: middle;
    }
    
    .table {
      width: 100%;
      border-collapse: collapse;
    }
    
    .table th,
    .table td {
      padding: 8px;
      text-align: left;
      border-bottom: 1px solid #ddd;
    }
    
    .table th {
      background-color: #f2f2f2;
    }
    
    .add-user-btn {
      background-color: #4CAF50;
      color: white;
      border: none;
      border-radius: 15px;
      padding: 10px 20px;
      font-size: 14px;
      cursor: pointer;
      float: right;
    }
    