body {
    display: flex;
    background-image: url('../image/bg-bgr.png'); /* Đường dẫn đến tệp ảnh nền */
    background-size: cover; /* Điều chỉnh kích thước ảnh để nó bao phủ toàn bộ trang */
    background-repeat: no-repeat; /* Không lặp lại ảnh nền */
    background-attachment: fixed; /* Giữ ảnh nền cố định khi cuộn trang */
    background-position: center center; /* Căn chỉnh ảnh nền vào giữa trang */
    justify-content: center;
}
.backgroud-booking{
    width: 800px;
    background-color: #fff;
    height: 1000px;
   
}

.booking-form {
    display: flex;
    width: 400px;
    margin: 0 auto;
    justify-content: center;
}
form{
    width: 100%;
}
form,input{
    width: 100%;
    height: 30px;
    
}

.booking-form label {
    display: block;
    margin-bottom: 5px;
}

.booking-form select {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
}

.booking-form button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

/* CSS thông tin bảo tàng */
.museum-card {
    border: 1px solid #ddd;
    padding: 10px;
    margin: 20px 0;
    display: flex;
    justify-content: center;
    gap: 10px;  
    align-items: center;
}
.imgbaotang,img{
    height: 130px;
   

}