
/* Add your custom CSS styles here */
body {
    background-color: #f0f0f0;
    padding: 20px;

}

.museum-card {
    display: flex;
    margin-bottom: 20px;
    justify-content: center;
}

.imgbaotang img {

    max-width: 200px;
    margin-right: 20px;
}



.booking-form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f5f5;
    border-radius: 5px;
    box-shadow: 0 0 10px #f6dd55;
}

.booking-form label {
    display: block;
    margin-bottom: 5px;
}

.booking-form input[type="text"],
.booking-form input[type="date"],
.booking-form input[type="email"],
.booking-form input[type="tel"],
.booking-form input[type="number"],
.booking-form select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #f6dd55;
    border-radius: 3px;
}

.booking-form button {
    display: inline-block;
    padding: 10px 20px;
    background-color: yellow;
    color: black;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-right: 10px;
}

.booking-form button[type="submit"] {
    background-color: green;
    color: white;
}