*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background-image: url();
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    margin: 0;
    padding: 0;
}


.wrap{
    background-color: rgb(195, 222, 214, 0.8);
    width: 400px;
    height: 510px;
    margin-left: 40%;
    margin-top: 40px;
    border-radius: 10px;
}
h1{
    text-align: center;
    padding-top: 40px;
}
h6{
    margin-left: 160px;
}
.mb-3{
    margin: 20px;
    width: 350px;
}
.btn-btn-primary{
    margin: 30px;
    margin-left: 110px;
    margin-top: 20px;
    width: 50%;
    height: 40px;
    background-color: rgb(240, 155, 27);
    border-radius: 10px;
}